# Python 2 compiled objects
*.pyc

# Python 3 compiled objects
__pycache__

# virtualenv
env

# ignore pytest .cache folder
# http://doc.pytest.org/en/latest/cache.html
.cache

# ignore PyCharm files
.idea

# ignore coverage files
.coverage

# Ignore Jupyter notebook autosaves
.ipynb_checkpoints

# VIM swap objects
*.swp

# Ignore private files
.not_in_oss_version

# Ignore private files
.not_in_oss_version
